<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0/css/bulma.min.css">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>Osm to QGIS</title>
</head>
<body class="section">
<div class="content">
    <h1>Osm to QGIS</h1>
    <h4>Use this nifty tool to seamlessly create/manage a POSTGIS databases created from osm files.</h4>
    <hr>
    <h5>Upload OSM File</h5>
    <form action="{{ url_for('upload') }}" method=post enctype=multipart/form-data
          x-data="{fileName: 'No file selected'}">
        <div class="file has-name mb-4">
            <label class="file-label">
                <input class="file-input" type="file" accept=".osm" @change="fileName = $el.files.item(0).name"
                       name="osm_file">
                <span class="file-cta">
              <span class="file-label">
                Choose a file…
              </span>
            </span>
                <span class="file-name" x-text="fileName">No file selected</span>
            </label>
        </div>
        <input type=submit value=Upload class="button is-primary">
    </form>
    <hr>
    <h2>Current Projects</h2>
</div>
</body>
</html>